/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import "base";

/**
 * Helper Variables & Functions
 */

//vars
$blue: #3a434a;
$gold: #edaf4f;
$black: #505050;

$font: "Titillium Web", helvetica, arial, sans-serif;

body {
  font: 1.4em/1.4 $font;
  color: $black;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background: url(../img/bg-dots.png) repeat;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}

table,
th,
td {
  border: 1px solid rgba(58, 67, 74, 0.5);
}
td,
th {
  padding: 10px;
}

a {
  color: $blue;
  cursor: pointer !important;
  &:hover,
  &:focus {
    color: $gold;
    text-decoration: none;
  }
}

a,
button {
  transition: all 0.3s ease;
}
p {
  line-height: 25px;
}

.container {
  position: relative;
}

h1 {
  color: $gold;
}

.modal-dialog {
  width: 100%;
  margin: 0;
  .modal-content {
    background-color: #dfe6ea;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    .modal-body{
      .title{
        margin-bottom: 10px;
        text-align: center;
      }
      .iti{
        width: 100%;
      }
    }
    .modal-footer {
      .form-control {
        //width: 48%;
        float: left;
        margin-right: 2%;
        border: none;
        color: #fff;
        font-weight: bold;
        &:last-child {
          margin-right: 0%;
          background-color: $gold;
          border: none;
        }
        &:first-child {
          background-color: #eaa851;
          width: 100%;
        }
      }
    }
  }
}
